/* .chart {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    padding: 4rem;
    background: #111;
} */
:root {
  --primary: #646464;
  --secondary: black;
  --tertiary: #0c7021;
  --tertiaryTwo: #074214;
  --graphAccent: #747474;
  --graphAccentText: #f8f8f8;
  --graphGradient: linear-gradient(0deg, #d6d5d5 10%, var(--graphAccentText) 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.graphs {
  padding: 0.1rem;
  background: var(--primary);
  background-image: url('../images/mountainsAndSky.png');
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  color: var(--secondary);
}

h1 {
  text-align: center;
}

.graphs__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.graph__wrapper, .stat__wrapper {
  display: relative;
}

.graph__items {
  background-color: var(--tertiary);
  border: 2px solid var(--secondary);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.chart__item {
  display: absolute;
  margin: 0 1.1rem;
  border-radius: 2px;
  border: 4px solid var(--graphAccent);
  background: var(--graphGradient);
  right: 0;
  padding: 2px;
  /* max-width: 320px; */
  /* transition: all 0.2s linear; */
}

/* .chart__item:hover {
  transform: scale(1.1);
} */

.chart__scale {
  display: absolute;
  top: 0;
  right: 0;
  margin-left: 5px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--graphAccent);
  color: var(--graphAccentText);
  border: 2px solid var(--secondary);
}

.outlier__box input:checked, .outlier__box {
  margin: 2px;
  accent-color: var(--tertiary);
}

@media only screen and (min-width: 1024px) {
  .graph__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .graph__item {
    margin-bottom: 2rem;
  }
}

.stat__items {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.stat_box {
  margin: 5px;
  border: 2px var(--secondary) solid;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
  justify-content: center;
  color: var(--graphAccentText);    
  /* FOR BACKGROUND OPACITY */
  background: rgba(24, 24, 24, 0.3); 
}

.download__button {
  margin: 5px;
  display: absolute;
  font-size: small;
  width: 21px;
  height: 21px;
  border-radius: 4px;
  border: 2px solid var(--tertiaryTwo);
  background-color: var(--tertiary);
  color: var(--graphAccentText);
  justify-content: right;
}