* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }


  .home,
  .services,
  .playground,
  .sign-up,
  .protected {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .services {
    background-image: url('./images/arabic-wallpaper.png');
    font-size: 50px;
  }

  .playground {
    background-image: url('./images/ZachHeadshot.jpg');
    
  }
   
  .sign-up {
    background-image: url('./images/ZachHeadshot.jpg');
  }

  .protected {
    background-image: url('./images/ZachHeadshot.jpg');
  }
  
  
  