* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }


  .home,
  .services,
  .chat,
  .sign-up,
  .protected,
  .dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: #505050;
  }

  .services {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 90vh;
    overflow-y: auto;
  }

  .services-text {

  }

  .services-text-editor {
    width: 80vw;
    height: 70vh;
    background-color: darkolivegreen;
    color: lightgray;
    text-align: center;
    border: 2px solid darkgray;
  }

  .services-error {
    background-color: red;
    color: black;
  }

  .services-save-button {
    background-color: green;
    color: gold;
    width: 5vw;
    height: 5vh;
  }

  .chat {
    /* background-image: url('./images/ZachHeadshot.jpg'); */
    
  }
   
  .sign-up {
    background-image: url('./images/ZachHeadshot.jpg');
  }

  .protected {
    background-image: url('./images/ZachHeadshot.jpg');
  }
  
  
  